@import "src/components/common/styles/base/variables";
$default-color: $theme-color;
$error-color: $color-danger;
$text-color: $white;
$tr-time: $transition-time;

.btn {
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 20px;

  font-weight: 400;
  font-size: 16px;
  font-family: inherit;
  color: $text-color;

  border: 1px solid transparent;
  border-radius: 0.25rem;

  transition-timing-function: ease-in-out;
  transition-duration: $tr-time;
  transition-property: color, background-color, border-color, box-shadow;

  user-select: none;

  &:focus {
    outline: none;
  }

  svg {
    fill: $text-color;
  }
}

.default {
  background-color: $default-color;
  border-color: $default-color;

  &:hover:not(:disabled) {
    background-color: lighten($default-color, 5%);
    border-color: lighten($default-color, 10%);
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba($default-color, 0.5);
  }
}

.error {
  background-color: $error-color;
  border-color: $error-color;

  &:hover:not(:disabled) {
    background-color: lighten($error-color, 5%);
    border-color: lighten($error-color, 10%);
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba($error-color, 0.5);
  }
}
