@import "src/common/ui/styles/base/variables";

.header {
  height: $header-height;

  background-color: $theme-color;
}

.container {
  composes: container from "../../../../common/ui/styles/container.module.scss";

  position: relative;

  height: $header-height;
  padding-top: 0;
  padding-bottom: 0;
}
