@import "src/common/ui/styles/base/variables";
$border-color: $gray-lighter;

.table {
  min-width: 480px;
  max-width: 60%;
  margin: 0 auto;
  overflow: hidden;

  border-collapse: collapse;

  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  box-shadow: $shadow;


  @media screen and (max-width: $screen-sm) {
    min-width: 320px;
    max-width: 90%;
  }

  tbody {
    border-bottom: 2px solid $theme-color;
  }

  tr:nth-child(even) {
    background-color: $white-muted;
  }

  th,
  td {
    padding: 10px;
  }

  tr th:first-of-type,
  tr td:first-of-type {
    border-right: 1px solid $border-color;
  }

  th {
    color: $white;

    background-color: $theme-color;
  }

  td {
    height: 90px;
    padding: 15px;
    overflow: hidden;

    border-bottom: 1px solid $border-color;
  }

  tr td:first-of-type {
    width: 1%;

    text-transform: capitalize;
    white-space: nowrap;
  }

  tr td:last-of-type {
    text-align: center;
  }
}
