@import "src/components/common/styles/base/variables";
$lightColor: $white-muted;
$darkColor: $theme-color;
$font-size: $font-size-sm;
$linkColor: #6c7784;

/* MAIN VARIABLES FOR CUSTOMIZATION */
$numOfItems: 6;
$navAT: 1s;
$textDelayStep: 0.1s;


/* -------------------------------- */

$btnSize: 60px;
$lineW: 28px;
$lineH: 4px;
$linesGap: 10px;
$linesTotalH: $lineH*2 + $linesGap;
$btnHorPad: ($btnSize - $lineW) / 2;
$btnVertPad: ($btnSize - $linesTotalH) / 2;

$itemsLeftPad: 20px;
$itemsRightPad: $itemsLeftPad + $btnSize;
$itemWidth: 90px;
$itemPad: 10px;
$navItemsWidth: $itemsLeftPad + $itemsRightPad + $itemWidth * $numOfItems;
$textAT: $navAT - $textDelayStep * ($numOfItems - 1);

$textFadeAT: 0.2s;
$cub: cubic-bezier(0.48, 0.43, 0.29, 1.3);
$backCub: cubic-bezier(0.49, -0.3, 0.68, 1.23);
$textCub: cubic-bezier(0.48, 0.43, 0.7, 2.5);

.nav {
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 50%;

  width: auto;
  height: $btnSize;
  margin-top: $btnSize/-2;
  overflow: hidden;

  background-color: $lightColor;
  border-radius: 5px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
  transform: translate3d(-50%, 0, 0);

  &__control {
    position: absolute;
    z-index: -1000;
    top: 0;
    left: 0;

    opacity: 0;

    pointer-events: none;
  }

  &__content {
    position: relative;

    width: $btnSize;
    height: 100%;

    transition: width $navAT $backCub;

    .nav__control:checked ~ & {
      width: $navItemsWidth;

      transition: width $navAT $cub;
    }
  }

  &__items {
    position: relative;

    width: $navItemsWidth;
    height: 100%;
    padding-right: $itemsRightPad;
    padding-left: $itemsLeftPad;

    list-style-type: none;
    font-size: 0;
  }

  &__item {
    display: inline-block;
    padding-right: $itemPad;
    padding-left: $itemPad;
    //width: $itemWidth;

    font-weight: bold;
    font-size: $font-size;
    line-height: $btnSize;
    font-family: $font-family;
    vertical-align: top;
    text-align: center;

    perspective: 1000px;
    cursor: pointer;

    &_link {
      display: block;
      height: 100%;

      color: $linkColor;
      text-decoration: none;

      transform: rotateY(-70deg);
      opacity: 0;

      transition: transform $textAT $textCub, opacity $textAT;

      .nav__control:checked ~ .nav__content & {
        transform: rotateY(0);
        opacity: 1;

        transition: color $textAT, transform $textAT $textCub, opacity $textFadeAT;
      }

      @for $i from 1 through $numOfItems {
        .nav__item:nth-child(#{$i}) & {
          transition-delay: ($numOfItems - $i) * $textDelayStep;
        }

        .nav__control:checked ~ .nav__content .nav__item:nth-child(#{$i}) & {
          transition-delay: ($i - 1) * $textDelayStep;
        }
      }

      &_active {
        color: $darkColor;

        cursor: default;
      }

      &:focus {
        outline: none;
      }

      @media (hover: hover) {
        &:hover,
        &:focus {
          color: $darkColor;
        }

        &:active {
          color: lighten($darkColor, 10%);
        }
      }
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;

    width: $btnSize;
    height: $btnSize;
    padding: $btnVertPad $btnHorPad;

    cursor: pointer;

    &:before,
    &:after {
      content: "";

      display: block;
      width: $lineW;
      height: $lineH;

      background-color: $darkColor;
      border-radius: 2px;
      transform-origin: 50% 50%;

      transition: transform $navAT $cub, background-color 0.3s;
    }

    &:before {
      margin-bottom: $linesGap;
    }

    &:hover {
      &:before,
      &:after {
        background: $darkColor;
      }
    }

    .nav__control:checked ~ & {
      &:before {
        transform: translateY($linesGap/2 + $lineH/2) rotate(-225deg);
      }

      &:after {
        transform: translateY($linesGap/-2 + $lineH/-2) rotate(225deg);
      }
    }
  }
}
